node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.idea
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/dev/win-to-wsl/logs/
/temp/
/dev/node-fs-utils-dev/tests/dev-specific/temp/
/vite-src/dev-dist/
